.header {
    padding-bottom: 50px;
    margin-bottom: 100px;
    background-color: rgb(250, 195, 208);
    
    &_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px 0;
        margin-bottom: 100px;
    }

    &_list {
        display: flex;
        align-items: center;
        gap: 60px;
    }

    &_logo {
        width: 230px;
        height: 100px;
        object-fit: contain;
    }

    &_link {
        font-family: "Inter";
        font-size: 30px;
        line-height: 36.31px;
        color: #FFFFFF;
        text-transform: uppercase;
    }

    &_form {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &_img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    &_burger {
      display: none;
    }
}

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
  }
  
  .slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
  }
  
  .slide {
    display: inline-block;
  
    height: 400px;
    width: 100%;
    border-radius: 40px;
    object-fit: cover;
  }
  
  /* Buttons */
  
  .slideshowDots {
    text-align: center;
  }
  
  .slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
  
    cursor: pointer;
    margin: 15px 7px 0px;
  
    background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
    background-color: #6a0dad;
  }

@media only screen and (max-width: 1024px) {
  .header {
    
    &_top {
        padding: 20px 0;
        margin-bottom: 50px;
    }

    &_list {
        gap: 50px;
    }

    &_logo {
        width: 200px;
        height: 80px;
    }

    &_link {
        font-size: 24px;
        line-height: 32.31px;
    }

    &_form {
        gap: 10px;
    }

    &_img {
      width: 35px;
      height: 35px;
    }
}

.slideshow {
    max-width: 400px;

  }
  
  .slide {
    height: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    
    &_top {
        padding: 20px 0;
        margin-bottom: 20px;
    }

    &_list {
        gap: 20px;
    }

    &_logo {
        width: 120px;
        height: 50px;
    }

    &_link {
        font-size: 20px;
        line-height: 25.31px;
    }

    &_img {
      width: 25px;
      height: 25px;
    }
}

.slideshow {
    max-width: 350px;

  }
  
  .slide {
    height: 300px;
  }
}

@media only screen and (max-width: 425px) {
  .header {

    &_container {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    &_top {
      gap: 10px;
    }

    &_logo {
        width: 120px;
        height: 40px;
    }

    &_link {
      display: none;
    }

    &_burger {
      display: block;
      width: 50px;
      height: 50px;
      object-fit: contain;
    }

    .drawer_list {
      display: flex;
      align-items: start;
      gap: 100px;
    }

    &_formx {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &_x {
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    &_drawwer {
      display: block;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 20px;
      color: #fff ;
      margin-left: 20px;
      text-transform: uppercase;
    }

    &_dr {
      width: 170px;
      height: 60px;
      object-fit: cover;
      margin-bottom: 20px;
    }
}

.slideshow {
    max-width: 250px;

  }
  
  .slide {
    height: 200px;
  }
}